
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Nuestra Ubicacion</h2>
      <h2 ><span class="text-muted">Tantastic Estetica & SPA</span></h2>
      <h3 class="featurette-heading fw-normal lh-1">Direccion</h3>
      <p class="lead">3 CALLE 06-48 CIUDAD SAN CRISTOBAL L	OCAL 2 SECTOR A-3 ZONA 8 SAN CRISTOBAL 1 MIXCO</p>
      <h3 class="featurette-heading fw-normal lh-1">Telefono:</h3>
      <p class="lead">3171 0352</p>
      <h3 class="featurette-heading fw-normal lh-1">Redes sociales:</h3>
      <p class="lead"></p>
    </div>
    <div class="col-md-5">
      <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="assets/brand/ubicacion.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
      <img src="/assets/brand/Ubicacion.jpg" alt="Logo" width="400" height="300" class="d-inline-block align-text-top">
  </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette ">
    <div class="col-md-7 order-md-5">
      <h2 class="featurette-heading fw-normal lh-1">Servicios</h2>
    <p class="lead">  1.- corte de cabello, planchado y cepillado, </p>
    <p class="lead">  2.- Color, Mechas, </p>
    <p class="lead">  3.- Maquillaje, </p>
    <p class="lead">  4.- Depilacion, Cejas, Bigote, Axilas, Piernes</p>
    <p class="lead">  5.- Pedicure: Uñas Acrilicas, Gel, Esmaltete normal</p>
    <p class="lead">  6.- Manicure: Uñas Acrilicas, Gel, Esmaltete normal</p>
    <p class="lead">  7.- Alizados de cabello</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="/assets/brand/Servicio.jpg" alt="Logo" width="400" height="300" class="d-inline-block align-text-top">
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Lo que Vendemos<span class="text-muted"></span></h2>
      <p class="lead">Ropa de marca, splash, cremas, bolsas, productos de salon, zapatos y otros.</p>
      <p class="lead">  1.- Ropa: Blusas, Pantalones, Vestidos, Sueter, faldas </p>
      <p class="lead">  2.- Producto de Belleza: </p>
      <p class="lead">      Splash, cremas, lociones, maquillaje, collares, zapatos, bolsos, entre otros.  </p>
      <p class="lead">  3.- Producto de Salon:</p>
      <p class="lead">  5.- Shampoo, Hidratante, Aceites, Termo protectores, botox, gotas, entre otros.</p>
    </div>
    <div class="col-md-5">
      <img src="/assets/brand/Producto.jpg" alt="Logo" width="400" height="300" class="d-inline-block align-text-top">
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Agradecimiento <span class="text-muted"></span></h2>
      <p class="lead">.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="assets\brand\Gracias.JPG" alt="Logo" width="400" height="300" class="d-inline-block align-text-top">
    </div>
  </div>

