<div class="card border-0">
  <div class="card-header" style="background-color: #ffffff;">     
    <h1 class="text-muted text-center">Inventario </h1>
  </div>

<div class="container">
  <div class="container-fluid">
  <div class="row">

    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      
      <form ngNativeValidate [formGroup]="formularioDeIngresos" (ngSubmit)="enviarDatos(1)">
        <div class="row px-2 pt-3 justify-content-end">
          <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="No." formControlName="idingreso" aria-label="No.">
          </div>
        </div>

        <!--<div class="col-sm-4 pt-1">
          <ul class="nav flex-column pt-3 px-3">
            <li class="nav-item">
              <select class="form-select" style="color: #727475;">
                <option selected>Tipo de Servicio</option>
                <option value="1">Producto Belleza</option>
                <option value="2">Ropa</option>
                <option value="3">Producto Salon</option>
                <option value="4">Gastos Salon</option>
                <option value="5">Insumos</option>
                <option value="6">Gastos varios</option>
              </select>
            </li>
          </ul>
        </div>-->

      <div class="row px-3 pt-3 g-1">
        
        <div class="col-sm-12">
          <div class="mb-3">        
            <label class="py-1">Proveedor</label>    
            <!--<select class="form-select form-select" name="" id="" formControlName="idproveedor" required>  
              <option selected>Selecciona proveedor</option>            
              <option *ngFor="let proveedor of Proveedores let iControl=index" value="{{ proveedor.idproveedor }}">{{ proveedor.nombreproveedor }}</option>                       
            </select>-->
            <ng-select class="custom"
                bindLabel="proveedores"
                placeholder="Seleccione Proveedor" 
                formControlName="idproveedor"
                required>
              <ng-option *ngFor="let proveedor of Proveedores" [value]="proveedor.idproveedor">{{proveedor.nombreproveedor}}</ng-option>
            </ng-select>            
          </div>
        </div>

        <label>Información del Producto</label>
        <div class="col-sm-2">
          <label class="py-1">Código</label>
          <input type="text" class="form-control" placeholder="Codigo" aria-label="Codigo" formControlName="codigo" required>
        </div>

        <div class="col-sm-5">
          <label class="py-1">Clasificación</label>
          <!--<select class="form-select form-select" name="" id="" formControlName="idclasificacion" required>  
            <option selected>Selecciona clasificacion</option>            
            <option *ngFor="let clasificacion of Clasificaciones let iControl=index" value="{{ clasificacion.idclasificacion }}">{{ clasificacion.nombreclasificacion }}</option>                       
          </select>-->
          <ng-select class="custom"
              bindLabel="clasificaciones"
              placeholder="Seleccione Clasificacion" 
              formControlName="idclasificacion"
              >
            <ng-option *ngFor="let clasificacion of Clasificaciones" [value]="clasificacion.idclasificacion">{{clasificacion.nombreclasificacion}}</ng-option>
          </ng-select>
        </div>

        <div class="col-sm-1">
          <label class="py-1">N</label>
          <button type="button" class="btn btn-primary shadow" (click)="abrirModal(modalclasi)"><i class="fas fa-plus"></i></button>
        </div> 

        <div class="col-sm-3">
          <label class="py-1">Marca</label>
          <!--<select class="form-select form-select" name="" id="" formControlName="idmarca" required>  
            <option selected>Selecciona marca</option>            
            <option *ngFor="let marca of Marcas let iControl=index" value="{{ marca.idmarca }}">{{ marca.nombremarca }}</option>                       
          </select>-->
          <ng-select class="custom"
              bindLabel="marcas"
              placeholder="Seleccione Marca" 
              formControlName="idmarca"
              >
            <ng-option *ngFor="let marca of Marcas" [value]="marca.idmarca">{{marca.nombremarca}}</ng-option>
          </ng-select>
        </div>

        <div class="col-sm-1">
          <label class="py-1">N</label>
          <button type="button" class="btn btn-primary shadow" (click)="abrirModal(modalmarca)"><i class="fas fa-plus"></i></button>
        </div> 

        <div class="col-sm-2">
          <label class="py-1">Cantidad</label>
          <input type="number" class="form-control" placeholder="Cant." aria-label="Cantidad" formControlName="cantidad" step="1" required>
        </div>        
        <div class="col-sm-3">
          <label class="py-1">Costo</label>
          <input type="number" class="form-control" placeholder="Cost Ingreso" aria-label="CostoIngr" formControlName="costo" step="0.01" required>
        </div>
        <div class="col-sm-2">
          <label class="py-1">% Desc.</label>
          <input type="number" class="form-control" placeholder="% de Ventas" aria-label="porcventa" formControlName="pordescuento" step="1" (change)="RecalcularCostoPublico($event)" required>
        </div>
        <div class="col-sm-3">
          <label class="py-1">Precio</label>
          <input type="number" class="form-control" placeholder="Costo Public" aria-label="CostPublic" formControlName="costopublico" step="0.01" required>
        </div>
        <div class="col-sm-2">
          <label class="py-1">Peso/talla</label>
          <input type="text" class="form-control" placeholder="Peso/Talla" aria-label="Peso" formControlName="pesotalla" required>
        </div>

        <div class="col-sm-12">
          <label class="py-1">Comentario</label>
          <input type="text" class="form-control" id="colFormLabelSm" placeholder="Informacion importante" formControlName="comentario" required>
        </div>
      </div>

      <div class="row g-3 px-5 pt-1 mb-3 justify-content-center">
        <div class="col-sm-3">
          <button type="submit" class="btn btn-primary shadow"><i class="fas fa-save"></i> Guardar</button>
        </div>
        <div class="col-sm-3">
          <button type="button" routerLink="/ingresos/" class="btn btn-danger shadow"><i class="fas fa-power-off"></i> Cancelar</button>
        </div>
      </div>

      </form>
                
    </nav>
  </div>
</div>
</div>



  <div class="card-body">
      <div class="row">
        <div class="col-sm-12 text-end">
         <button (click)="DescargarAExcel()" class="btn btn-success"><i class="fas fa-download"></i> Descargar</button> 
        </div>
      </div> 
      <div class="row pt-3">
        <div class="col-sm-12">        
              <label class="mb-2">Filtro de busqueda</label>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-filter text-muted"></i></span>
                <input
                  type="text"
                  class="form-control mb-0"
                  name="codigo"
                  placeholder="Escriba el codigo..."
                  (input)="FiltrarDatos($event.target)"
                  aria-describedby="basic-addon1"
                />
              </div>                  
        </div>
      </div>      
      <div class="table-responsive">
          <table class="table table-striped" id="tablita">
              <thead>
                  <tr>
                      <th scope="col">ID</th> 
                      <th scope="col">Tipo</th>
                      <th scope="col">Proveedor</th>                     
                      <th scope="col">Clasificacion</th>
                      <th scope="col">Marca</th>
                      <th scope="col">Código</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Costo</th>
                      <th scope="col">% Desc</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Comentario</th>
                      <th scope="col">Peso/Talla</th>
                      <th scope="col">Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let ingreso of Ingresos | paginate: 
                  {                   
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                  }; 
                  let iControl=index"
                >
                      <td scope="row">{{ ingreso.idingreso }}</td>
                      <td>{{ ingreso.nombretipo }}</td>
                      <td>{{ ingreso.idproveedor }}</td>
                      <td>{{ ingreso.idclasificacion }}</td>
                      <td>{{ ingreso.idmarca }}</td>
                      <td>{{ ingreso.codigo }}</td>
                      <td class="text-end">{{ ingreso.cantidad }}</td>
                      <td class="text-end">{{ ingreso.costo }}</td>
                      <td class="text-end">{{ ingreso.pordescuento }}</td>
                      <td class="text-end">{{ ingreso.costopublico }}</td>
                      <td class="text-end">{{ ingreso.comentario }}</td>
                      <td class="text-end">{{ ingreso.pesotalla }}</td>
                      <td>
                          <a class="btn btn-primary btn-sm" routerLink="/ingresos/{{ ingreso.idingreso }}">Editar</a> | 
                          <!--<a class="btn btn-danger" (click)="borrarRegistro(empleado.id,iControl)" role="button">Borrar</a>-->
                      </td>
                  </tr>
              </tbody>
          </table>
          <div class="d-flex justify-content-center">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>
      </div>
      
  </div>
  <div class="card-footer text-muted">
      Footer
  </div>
</div>


<ng-template #modalclasi>
  <form ngNativeValidate [formGroup]="formularioDeClasificacion" (ngSubmit)="enviarDatos3(1)">
    
  <div class="modal-header">
    <h5 class="modal-title">Nueva Clasificacion</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef?.hide()"></button>
  </div>
  <div class="modal-body">
    <div class="row px-2">
      <label class="py-2">Información del Clasificacion</label>
        
      <div class="col-sm-12">
        <label class="py-1">Tipo</label>
        <select class="form-select form-select" formControlName="idtipo" required>  
          <option selected>Selecciona tipo</option>            
          <option value="1">Ingresos</option> 
          <option value="2">Egresos</option>                      
        </select>
      </div>
      
      <div class="col-sm-12">
          <label class="py-1">Nombre</label>
          <input required type="text" class="form-control" formControlName="nombreclasificacion" id="" placeholder="Nombre clasificacion" aria-label="Nombre clasificacion">
        </div>         
      </div>

    <div class="row g-3 px-5 pt-1 mb-3 justify-content-center">
      <div class="col-sm-3">
        <button type="submit" class="btn btn-primary shadow"><i class="fas fa-save"></i> Guardar</button>
      </div>
      <div class="col-sm-3">
        <button type="button" data-bs-dismiss="modal" class="btn btn-danger shadow" aria-label="Close" (click)="modalRef?.hide()"><i class="fas fa-power-off"></i> Cancelar</button>
      </div>
    </div>
  </div>
</form>
</ng-template>

<ng-template #modalmarca>
  <form ngNativeValidate [formGroup]="formularioDeMarca" (ngSubmit)="enviarDatos4(1)">
    
  <div class="modal-header">
    <h5 class="modal-title">Nueva Marca</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef?.hide()"></button>
  </div>
  <div class="modal-body">
    <div class="row px-2">
      <label class="py-2">Información de Marca</label>
        <div class="col-sm-12">
          <label class="py-1">Nombre</label>
          <input required type="text" class="form-control" formControlName="nombremarca" id=""placeholder="Nombre marca" aria-label="Nombre Marca">
        </div>         
      </div>

    <div class="row g-3 px-5 pt-1 mb-3 justify-content-center">
      <div class="col-sm-3">
        <button type="submit" class="btn btn-primary shadow"><i class="fas fa-save"></i> Guardar</button>
      </div>
      <div class="col-sm-3">
        <button type="button" data-bs-dismiss="modal" class="btn btn-danger shadow" aria-label="Close" (click)="modalRef?.hide()"><i class="fas fa-power-off"></i> Cancelar</button>
      </div>
    </div>
  </div>
</form>
</ng-template>